mixin today()
	section.today&attributes(attributes)
		h2.today__title.title stats for today are easy to capture
		.today__today
			img(src='assets/images/content/today.png', srcset='assets/images/content/today@2x.png 2x, assets/images/content/today@3x.png 3x')
