mixin main-screen()
	section.main-screen&attributes(attributes)
		.main-screen__in.container
			h2.main-screen__title.title Clean and simple look

			.main-screen__window
				img.Group-1(src='assets/images/content/month.png', srcset='assets/images/content/month@2x.png 2x, assets/images/content/month@3x.png 3x')
