.main-screen
	margin-top -25px
	&__in
		padding-bottom 146px
		text-align center
	&__title
		margin-bottom 48px
		padding-left 34px
	&__window
		margin auto
		// width 900px
		// height 651px
		img
			max-width 100%
			height auto
			box-shadow 0 23px 45px rgba(0, 0, 0, 0.1)
