.hero
	overflow hidden
	&__in
		padding-bottom 146px

	&__screen
		position relative
		margin-right 60px
		text-align right
	&__screen-top
		position absolute
		top 0
		right 0
		padding-right 46px
		display flex
		align-items center
		justify-content flex-end
		width 2880px
		height 44px
		background-color rgba(255, 255, 255, 0.75)
		box-shadow 0 1px 0 rgba(127, 127, 127, 0.4), 0 4px 20px rgba(0, 0, 0, 0.1)

	&__screen-icons
		width 402px
		height 32px
		// svg
		// 	width 402px
		// 	height 32px
		// 	background-size cover

	&__screen-image
		position relative
		z-index 1
		padding-top 45px
		padding-right 90px
		img
			max-width 100%
			height auto
			object-fit contain
			box-shadow 0 56px 112px rgba(0, 0, 0, 0.5)

	&__content
		margin-left 10px
		padding-top 92px


	&__title
		margin-bottom 26px
		padding-right 80px
		font-family $mb
		font-size 42px
		line-height 1.26
		letter-spacing 0.1px
	&__text
		margin-bottom 53px
		color #ffffff$mm"Museo Sans Cyrl 500"
		font-size 21px
		line-height 1.523
		letter-spacing normal
	&__rating
		margin-bottom 62px

	// &__button



.rating
	display flex
	align-items center
	font-weight normal
	&__stars
		width 121px
		height 18px
	&__text
		margin-left 16px
		letter-spacing normal

