mixin time()
	section.time&attributes(attributes)
		.time__in.container
			h2.time__title.title Screen Time made simple to analyse
			.time__text
				p Some about main graph text goes here. Some about main graph text goes here. Some about main graph text goes here.
			.time__screen
				img(src='assets/images/content/time.png', srcset='assets/images/content/time@2x.png 2x, assets/images/content/time@3x.png 3x')
