@font-face
	font-family 'Museo Sans Cyrl 500'
	src local('Museo Sans Cyrl 500 Regular'), local('MuseoSansCyrl-500'),
		url('../fonts/hinted-subset-MuseoSansCyrl-500.woff2') format('woff2'),
		url('../fonts/hinted-subset-MuseoSansCyrl-500.woff') format('woff')
	font-weight normal
	font-style normal


@font-face
	font-family 'Museo Sans Cyrl 700'
	src local('Museo Sans Cyrl 700 Regular'), local('MuseoSansCyrl-700'),
		url('../fonts/hinted-subset-MuseoSansCyrl-700.woff2') format('woff2'),
		url('../fonts/hinted-subset-MuseoSansCyrl-700.woff') format('woff')
	font-weight normal
	font-style normal


@font-face
	font-family 'Museo Sans Cyrl 300'
	src local('Museo Sans Cyrl 300 Regular'), local('MuseoSansCyrl-300'),
		url('../fonts/hinted-subset-MuseoSansCyrl-300.woff2') format('woff2'),
		url('../fonts/hinted-subset-MuseoSansCyrl-300.woff') format('woff')
	font-weight 300
	font-style normal


@font-face
	font-family 'Apercu'
	src local('Apercu Regular'), local('Apercu-Regular'),
		url('../fonts/hinted-subset-Apercu-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-Apercu-Regular.woff') format('woff')
	font-weight normal
	font-style normal


@font-face
	font-family 'Apercu'
	src local('Apercu Medium'), local('Apercu-Medium'),
		url('../fonts/hinted-subset-Apercu-Medium.woff2') format('woff2'),
		url('../fonts/hinted-subset-Apercu-Medium.woff') format('woff')
	font-weight 500
	font-style normal





$a = 'Apercu', Arial, sans-serif
$ml = 'Museo Sans Cyrl 300', Arial, sans-serif
$mm  = 'Museo Sans Cyrl 500', Arial, sans-serif
$mb  = 'Museo Sans Cyrl 700', Arial, sans-serif



