.year
	position relative
	z-index 1
	&__in
		padding-top 75px
		padding-bottom 88px
		background-color #ffffff
		border-radius 20px
		text-align center
	&__title
		margin-bottom 20px
		color #000000

	&__text
		margin auto
		margin-bottom 50px
		max-width 470px
		width 100%
		line-height 1.56
		letter-spacing normal
		text-align center
		color #5a5a61

	&__screen
		object-fit contain
		img
			max-width 100%
			height auto
			box-shadow 0 5px 30px rgba(0, 0, 0, 0.3)
