mixin year()
	section.year&attributes(attributes)
		.year__in.container
			h2.year__title.title Observe the whole year
			.year__text
				p Give a look at a whole year of your productive job. <br/>The diagram shows different activities at different days.
			.year__screen
				img.Group-2(src='assets/images/content/year.png', srcset='assets/images/content/year@2x.png 2x, assets/images/content/year@3x.png 3x')

