.footer
	margin-top -90px
	background-color #e8edf6
	&__in
		padding-top 145px
		padding-bottom 90px
		display flex
		justify-content space-between

	&__info
		max-width 506px
		width 100%
	&__nav
		margin-bottom 20px

	&__copyright
		color #303956
		font-family $a
		font-weight 500
		font-size 16px
