.perks
	border 1px solid #ffffff
	border-width 1px 0
	&__in
		padding-top 74px
		padding-bottom 58px
		text-align center
	&__title
		margin-bottom 50px
		padding-left 8px


	// &__list

	&__item
		margin-bottom 37px

	&__icon
		margin-bottom 44px
		height 120px
		display flex
		justify-content center
	&__icon_center
		.perks__icon-w
			height 82px
			img
				border-radius 14px
				box-shadow 0 5px 10px rgba(0, 0, 0, 0.3)
	&__icon_last
		.perks__icon-w
			margin-top 3px
			width 320px
			height 82px
			justify-content flex-start
			background-color #f5f6fa
			border-radius 4px
			box-shadow 0 5px 10px rgba(0, 0, 0, 0.3)
			// img
			// 	margin-left 20px
	&__icon-w
		display flex
		align-items center
		justify-content center

	&__text
		font-family $ml
		font-weight normal
		letter-spacing normal
