mixin perks()
	section.perks&attributes(attributes)
		.perks__in.container
				h2.perks__title.title Helpfull perks

				ul.perks__list.row
					li.perks__item.col
						.perks__icon
							.perks__icon-w
								img(src='assets/images/content/perk-1.png', srcset='assets/images/content/perk-1@2x.png 2x, assets/images/content/perk-1@3x.png 3x')
						.perks__text Summary data for a specific period


					li.perks__item.col
						.perks__icon.perks__icon_center
							.perks__icon-w
								img(src='assets/images/content/perk-2.png', srcset='assets/images/content/perk-2@2x.png 2x, assets/images/content/perk-2@3x.png 3x')
						.perks__text Switch between defferent periods

					li.perks__item.col
						.perks__icon.perks__icon_last
							.perks__icon-w
								img(src='assets/images/content/perk-3.png', srcset='assets/images/content/perk-3@2x.png 2x, assets/images/content/perk-3@3x.png 3x')

						.perks__text Small perk: check if someone used your Mac
